[Unit]
Description=Run disk usage check hourly

[Timer]
OnCalendar=hourly
Persistent=true
Unit=check-disk-usage.service

[Install]
WantedBy=timers.target